global:
  # -- Global override for container image registry.
  imageRegistry: {{ .Values | get "__REGISTRY__" "" }}


ingress:
  enabled: {{ .Values.__LONGHORN_INGRESS_ENABLE__ }}
  ingressClassName: ~
  host: longhorn.{{ .Values.__DOMAIN__ }}
  tls: false
  secureBackends: false
  tlsSecret: longhorn.local-tls
  path: /
  pathType: ImplementationSpecific
  annotations:
  secrets: